@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-radial-center {
    background: radial-gradient(
      circle,
      rgba(167, 243, 208, 0.5) 0%,
      rgba(167, 243, 208, 0) 70%
    );

    .player-wrapper {
      position: relative;
      padding-top: 56.25%;
    }

    .react-player {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 36px;
    }

    .playButton {
      display: flex;
      justify-content: center;
      width: 100px;
      height: 100px;
      cursor: pointer;
      background: transparent;
    }

    .playButtonImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slide {
      padding-right: 16px; /* Default space between slides */
    }
  }
}
